//root
html {
    font-family: 'Open Sans', sans-serif;
    @media screen and (max-width: 1440px) {
        font-size: 16px;
    }
    @media screen and (max-width: $small-screen) {
        font-size: 13px;
    }
    @media screen and (max-width: 376px) {
        font-size: 12px;
    }
    @media screen and (max-width: 360px) {
        font-size: 10px;
    }
}

figure {
    margin: 0;
}

main {
    min-height: 668px;
    @media screen and (max-width: $small-screen-up) {
        min-height: 568px;
    }
}

//headers
main>header,
main>section header {
    @include baseline($t: 2.5rem, $b: 2rem);
    span:first-child {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }
    h1,
    h2,
    h3 {
        margin: 0;
        @extend .animation-slide-in;
    }
    p {
        font-size: 1.2rem;
        margin: 0;
        @extend .animation-slide-up;
    }
}

// typography
.boldserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1,
h2,
h3 {
    color: lighten($off-black, 25%);
}

h1,
h2,
h3,
strong {
    @extend .boldserrat;
}

.error-message {
    @extend .clearfix;
    p {
        font-size: 1.2rem;
        color: color("red", "accent-4");
    }
    &, p {
        text-align: center;
    }
    .btn:nth-of-type(2) {
        margin-left: .5rem;
    }
}

.creditCard {
    @extend .card;
    @include baseline(2rem);
    background-image: url("/assets/img/card_bkg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    h4 {
        @include baseline($t: 0, $b:2rem);
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin-top: .5rem;
            background: rgba(0, 0, 0, .25);
        }
    }
    .card-content {
        img {
            max-height: 4.5rem;
            margin-top: 2px;
            @media (max-width: $small-screen) {
                @include baseline();
            }
        }
        p {
            margin-top: 0;
            line-height: 1.625;
        }
    }
}

//forms
form {
    @include baseline($t: 2rem);
}

//collapsible
ul.collapsible {
    @include baseline();
    .collapsible-header {
        align-items: center;
        i {
            @include icon-fix;
            &:not(:first-child) {
                font-size: 1.2rem;
                margin-right: 0;
            }
        }
        .innerHeader {
            width: 100%;
            p,
            h5 {
                margin: 0;
            }
        }
        span {
            button i {
                margin: 0;
            }
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
}

//footer
.page-footer {
    @include baseline(4rem, 0);
}